@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  position: relative;
  height: 3720px;
}

.background {
  position: absolute;
  background-image: url(./assets/background3.svg);
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(250px);
  height: 100%;
}

p {
  height: 100px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px 0px 24px;

  position: fixed;
  width: 784px;
  height: 64px;
  left: 64px;
  top: 40px;

  /* Layers/Lvl 2 (8%) */

  background: rgba(255, 255, 255, 0.08);
  /* Blur */

  backdrop-filter: blur(250px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
}

.fullscreen-icon {
  position: static;
  width: 24px;
  height: 24px;
  left: 736px;
  top: 20px;

  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 9;
  flex-grow: 0;
  margin-right: 16px;
  background-image: url(./assets/fullscreen.svg);
}

.divider {
  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;
  /* margin: 0px 16px; */
}

.site-selection {
  position: static;
  width: 220px;
  height: 32px;
  left: 340px;
  top: 16px;

  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;
  margin: 0px 16px;
}

.time-picker {
  position: static;
  width: 128px;
  height: 32px;
  left: 592px;
  top: 16px;

  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;
  margin: 0px 16px;
}

.label-time,
.label-site {
  /* Label/Medium */

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* Emphasis/High (100%) */

  color: #ffffff;

  text-transform: uppercase;
}

.time,
.site {
  /* Body/02/Medium */

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;

  /* Primary/Green */

  color: #47d060;
}

.dropdown {
  /* Dropdown */

  position: relative;
  width: 158px;
  height: 32px;

  /* Primary/Green */

  background: #47d060;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;
  margin: 0px 16px;
}

.dropdown .text {
  position: relative;
  width: 87px;
  height: 18px;
  left: 16px;
  top: calc(50% - 18px / 2);

  /* Button/Medium */

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  /* Emphasis/On color (100% dark) */

  color: #121c1c;
}

.dropdown img {
  /* Icon / 16px / Arrow down */

  width: 16px;
  height: 16px;
  right: 8px;
  top: calc(50% - 16px / 2);

  /* Vector (Stroke) */

  position: absolute;
}

.site-select {
  /* Body/02/Medium */

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;

  /* Emphasis/High (100%) */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;
  margin: 0px 16px;
}

.logo {
  /* Logo */

  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;
  margin: 0px 16px;
  margin-right: 0;
}

.container {
  position: absolute;
  left: 64px;
  right: 64px;
  top: 140px;
  height: 200px;
  /* background: red;
  opacity: 0.2; */
}

hr {
  /* Emphasis/Low (40%) */
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  /* T be removed */
  margin-bottom: 16px;
}

.row-closed {
  /* Table */

  position: absolute;
  width: 100%;
  height: 56px;

  /* Layers/Lvl 2 (8%) */

  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
}

.row-closed > .checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 16px;
}

.row-closed > .date {
  /* Field 1 */

  position: absolute;
  width: 78px;
  height: 18px;
  left: 56px;
  top: 19px;

  /* Body/02/Regular */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .site-data {
  /* Field 3 */

  position: absolute;
  width: 191px;
  height: 18px;
  left: 176px;
  top: 19px;

  /* Body/02/Regular */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .actual {
  /* Field 6 */

  position: absolute;
  width: 86px;
  height: 21px;
  left: 442px;
  top: 18px;

  /* Sub title/02/Medium */

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.25px;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .modeled {
  /* Title */

  position: absolute;
  width: 82px;
  height: 21px;
  left: 590px;
  top: 18px;

  /* Sub title/02/Regular */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.1px;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .delta {
  /* Title */

  position: absolute;
  width: 69px;
  height: 21px;
  left: 715px;
  top: 18px;

  /* Sub title/02/Regular */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.1px;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .arrow-up {
  /* Vector (Stroke) */

  position: absolute;
  right: 20px;
  top: 20px;
  /* left: 12.5%;
  right: 12.5%;
  top: 25%;
  bottom: 31.25%; */

  /* Emphasis/High (100%) */

  fill: #ffffff;
}
