@import 'https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap';
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  height: 3720px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(250px);
    height: 100%;
    content: '';
    z-index: -100;
  }

  &::before {
    position: absolute;
    background-image: url(../../assets/background5.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    z-index: -100;
  }
}
