.container {
  > .tab {
    width: fit-content;
    margin: 12px 0;
    display: flex;
    list-style: none;
    color: white;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    height: 32px;
    overflow: hidden;
    cursor: pointer;

    > .tab-item {
      padding: 8px 18px;
      border-right: 1px solid #737a80;
      transition: all 0.1s ease-in;
    }

    > .tab-item:last-child {
      border-right: none;
    }

    > .tab-item:hover {
      color: #121c1c;
      background: #47d060;
    }
  }
}
