.expanded {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  height: 56px;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
}

.expanded:active {
  height: 258px;
}

.expanded > .parent > .td {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.expanded:hover {
  border-color: #47d060;
}

.expanded > .parent {
  height: 56px;
  margin-bottom: 0px;
}

.expanded > .parent > .td {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.expanded > .parent > .td.expand,
.expanded > .parent > .td.graph {
  justify-content: center;
}

.expanded > .child {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  height: 202px;
  padding: 16px 0;
  color: rgba(255, 255, 255, 0.8);
}

.expanded > .child > .tr {
  height: auto;
}

.expanded > .child > .tr > .td {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.expanded > .child > .tr > .td.expand,
.expanded > .child > .tr > .td.graph {
  justify-content: center;
}
.expanded > .parent > .td.sites,
.expanded > .child > .tr > .td.sites {
  padding-left: 36px;
  justify-content: flex-start;
  position: relative;
}

.expanded > .parent::after {
  content: '';
  background: rgba(255, 255, 255, 0.4);
  height: 0.5px;
  position: absolute;
  top: 56px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.child > .tr > .graph > img {
  position: absolute;
  /* left: 0; */
}
