.container {
  position: absolute;
  left: 64px;
  right: 64px;
  top: 140px;
  height: 200px;
  /* background: red;
  opacity: 0.2; */
}

.table {
  position: relative;
  width: 100%;
  height: 56px;

  /* Body/02/Regular */
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* Emphasis/High (100%) */

  color: #ffffff;
}

.thead {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  height: 56px;
}

.tr {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 4px;
  flex-wrap: wrap;
}

.th {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  transition: font-weight 0.1s ease-out;
  cursor: pointer;
}

.th::before {
  transition: transform 0.2s;
  border-radius: 8px;
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  left: 0;
}

.th:hover::before {
  /* width: 100%; */
  transform: scaleX(1);
  border-top: 4px solid #47d060;
}

.tr > .checkbox {
  width: 4%;
}

.tr > .month {
  width: 8%;
  position: relative;
  color: #47d060;
  font-weight: bold;
}

/* .tr > .th:hover {
  color: #47d060;
  font-weight: bold;
  background: url(../assets/sort.svg) no-repeat 95%;
} */

.tr > .month > img {
  margin-left: 8px;
}

.tr > .sites {
  width: 20%;
}

.tr > .actual {
  width: 11%;
}

.tr > .modeled {
  width: 11%;
}

.tr > .actual > img,
.tr > .modeled > img {
  margin-right: 8px;
}

.tr > .delta {
  width: 8%;
}

.tr > .graph {
  width: 34%;
}

.tr > .expand {
  width: 4%;
}
