.container {
  position: absolute;
  left: 64px;
  right: 64px;
  top: 140px;
  height: 200px;
  /* background: red;
  opacity: 0.2; */
}

table tbody tr td:first-child {
  border-radius: 4px 0 0 4px;
}

table tbody tr td:last-child {
  border-radius: 0 4px 4px 0;
}

tr:hover td {
  border-top: 1px solid #47d060;
  border-bottom: 1px solid #47d060;
}

tr:hover > td:first-child {
  border-left: 1px solid #47d060;
}

tr:hover > td:last-child {
  border-right: 1px solid #47d060;
}

/* table tbody tr:hover td:first-child {
  border-radius: 4px 0 0 4px;
  border: 1px solid #47d060;
}

table tbody tr:hover td:last-child {
  border-radius: 0 4px 4px 0;
  border: 1px solid #47d060;
} */

.row-closed {
  /* Table */

  position: relative;
  width: 1312px;
  height: 56px;

  /* Layers/Lvl 2 (8%) */

  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;

  margin-top: 4px;

  border: 1px solid transparent;
}

/* .row-closed:hover {
  border: 1px solid #47d060;

  transition: border 0.3s ease;
} */

.row-closed > .checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 16px;
}

.row-closed > .date {
  /* Field 1 */

  position: absolute;
  width: 78px;
  height: 18px;
  left: 56px;
  top: 19px;

  /* Body/02/Regular */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .site-data {
  /* Field 3 */

  position: absolute;
  width: 191px;
  height: 18px;
  left: 176px;
  top: 19px;

  /* Body/02/Regular */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .actual {
  /* Field 6 */

  position: absolute;
  width: 86px;
  height: 21px;
  left: 442px;
  top: 18px;

  /* Sub title/02/Medium */

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.25px;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .modeled {
  /* Title */

  position: absolute;
  width: 82px;
  height: 21px;
  left: 590px;
  top: 18px;

  /* Sub title/02/Regular */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.1px;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .delta {
  /* Title */

  position: absolute;
  width: 69px;
  height: 21px;
  left: 715px;
  top: 18px;

  /* Sub title/02/Regular */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.1px;

  /* Emphasis/High (100%) */

  color: #ffffff;
}

.row-closed > .arrow-up {
  /* Vector (Stroke) */

  position: absolute;
  right: 20px;
  top: 20px;
  /* left: 12.5%;
  right: 12.5%;
  top: 25%;
  bottom: 31.25%; */

  /* Emphasis/High (100%) */

  /* Workaround when fill not wrking becase of img tag */
  /* fill: #fff; */
  filter: invert(1);
}

.row-closed > .graph {
  position: absolute;
  width: 313px;
  left: 863px;
}

/* CUSTOM CSS */
.graph > img {
  position: absolute;
  top: 28px;
  transform: translateY(-50%);
}

table {
  position: relative;
  width: 1312px;
  height: 56px;

  /* Body/02/Regular */

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* Emphasis/High (100%) */

  color: #ffffff;

  /* border-collapse: collapse; */
  border-spacing: 0 4px;
}

thead {
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
  height: 56px;
}

th.checkbox {
  width: 4%;
  /* background-color: red; */
}
th {
  position: relative;
}

/* Image mst be converted to block to be aligned */
th.checkbox > img {
  display: block;
  margin: 0 auto;
}

th.month {
  width: 8%;
  position: relative;
}

th::before {
  transition: transform 0.2s;
  border-radius: 8px;
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  left: 0;
}
th:hover::before {
  /* width: 100%; */
  transform: scaleX(1);
  border-top: 4px solid #47d060;
}

th.month > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
th.month > div > img {
  margin-left: 8px;
}

th.sites {
  width: 20%;
}

th.actual {
  width: 11%;
}

th.modeled {
  width: 11%;
}
th.delta {
  width: 8%;
}

th.graph {
  width: 34%;
}

th.expand {
  width: 4%;
}
