.container {
  position: absolute;
  left: 64px;
  right: 64px;
  top: 140px;
  height: 200px;
  /* background: red;
  opacity: 0.2; */
}
/* Add Rounded Corder */
.row-closed td:first-child {
  border-radius: 4px 0 0 4px;
}

.row-closed td:last-child {
  border-radius: 0 4px 4px 0;
}

/* Add Hover ffect */
.row-closed:hover td {
  border-top: 1px solid #47d060;
  border-bottom: 1px solid #47d060;
}

.row-closed:hover > td:first-child {
  border-left: 1px solid #47d060;
}

.row-closed:hover > td:last-child {
  border-right: 1px solid #47d060;
}

/* Column Hovers */

th::before {
  transition: transform 0.2s;
  border-radius: 8px;
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  left: 0;
}
th:hover::before {
  /* width: 100%; */
  transform: scaleX(1);
  border-top: 4px solid #47d060;
}

tbody tr td {
  border: 1px solid transparent;
  transition: border 0.2s ease;
}

table {
  position: relative;
  width: 100%;
  height: 56px;

  /* Body/02/Regular */
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* Emphasis/High (100%) */

  color: #ffffff;

  border-spacing: 0;
}

thead tr th {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  height: 56px;
}

/* Headers */
.tr > .checkbox {
  width: 4%;
  background-color: red;
}

/* Image mst be converted to block to be aligned */
.tr > .checkbox > img {
  display: block;
  margin: 0 auto;
}

.tr > .month {
  width: 8%;
  position: relative;
}

.tr > .month > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #47d060;
  font-weight: bold;
}
.tr > .month > div > img {
  margin-left: 8px;
}

tr > .sites {
  width: 20%;
}

tr > .actual {
  width: 11%;
}

tr > .actual > div,
tr > .modeled > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
tr > .actual > div > img,
tr > .modeled > div > img {
  margin-right: 8px;
}
tr > .modeled {
  width: 11%;
}
tr > .delta {
  width: 8%;
}

tr > .graph {
  width: 34%;
}

tr > .expand {
  width: 4%;
}

/* Rows */
.row-closed {
  /* Table */

  position: relative;
  width: 100%;
  height: 56px;

  /* Layers/Lvl 2 (8%) */

  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;

  margin-top: 4px;
  text-align: center;
}

.graph {
  position: relative;
}

/* CUSTOM CSS */
.graph > img {
  position: absolute;
  left: 40px;
  top: 28px;
  transform: translateY(-50%);
}

.row-closed > td > .arrow-up {
  /* Vector (Stroke) */

  position: absolute;
  right: 20px;
  top: 20px;
  /* Workaround when fill not wrking becase of img tag */
  /* fill: #fff; */
  filter: invert(1);
}
